:root {
  --primary-color: #e60023;
  --light-gray: #eee;
  --border-radius: 16px;
  --font-family: Arial, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}